HCX_API_KEY=
ELASTICSEARCH_URL=http://<EC2-2-내부IP>:9200
KDIC_ADMIN_TOKEN=
KDIC_DATA_SOURCE=/opt/kdic/data/kdic_data.zip
KDIC_RUNTIME_DIR=/opt/kdic/runtime
KDIC_API_HOST=0.0.0.0
KDIC_API_PORT=8501
KDIC_ENV_FILE=/opt/kdic/kdic.env
